{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ======= Services Section ======= -->
<section id="services" class="services">
<div class="container" data-aos="fade-up">

    <div class="section-title">
    <h2>Overview</h2>
    <h3>Check Our <span>Overview</span></h3>
    <p>
        <hr />
        <mark>RINAK SHINE PRAYER CENTRE was established in 2021</mark> as an interdenominational/Ecumenical fellowship that focused at bringing together all interested individuals that thought to pray, praise and worship God.
        <strong>Saturday (not Sunday) was closed</strong> to be a day of worship <strong>from 2:00pm-4:00pm</strong> in order <strong>to avoid to interfering with the standard Sunday services and masses in other churches</strong>.
        One service are basically composed of sharing the word of God (preaching) praise and worship, healing and deliverance sessions for those in demonic bondage and counseling. However, <strong>We do not preside over weddings, burials and neither do we baptize or confirm</strong>. <mark>We are therefore not a religion</mark>.
        It is against this background that we invite all religious especially those that have behave and follow our lord Jesus Christ embrace this cause because it will turn build the faith minimize levels of social vices like drug abuse, drunkardness etc and also curb down levels of despair domestic violence and suicide among communities, it is our prayers that RINAK SHINE PRAYER CENTRE is looked at as partner in a evangelization/ generally Gods ministry as per <strong>ISAIAH 61</strong> and note a rival. 
        On Saturday prayers are thus open to all Gods people; Catholics, Pentecostals, Adventists, Orthodox and Moslems.
    </p>
    </div>

    <div class="row">
    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
        <div class="icon"><i class="bi bi-eye"></i></div>
        <h4><a href="">Vision</a></h4>
        <p>To have self-sustained community that is holistically developed that is spiritually and physically.</p>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
        <div class="icon"><i class="bi bi-bullseye"></i></div>
        <h4><a href="">Mission</a></h4>
        <p>Seeks to restore hope and improve standards of living of Gods people through evangelism, counseling and community empowerment</p>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
        <div class="icon"><i class="bi bi-box"></i></div>
        <h4><a href="">Core Values</a></h4>
        <p>We are bond to exercise the following core values: Integrity, Transparency, Accountability, and Respect</p>
        </div>
    </div>
    </div>
</div>
</section><!-- End Services Section -->
<!-- ======= Objectives Section ======= -->
<section id="faq" class="faq section-bg">
<div class="container" data-aos="fade-up">

    <div class="section-title">
    <h2>Objectives</h2>
    <h3>Major <span>Objectives</span>   Are</h3>
    <p>The following are the major objectives that RINAK SHINE PRAYER CENTRE strives to achieve</p>
    </div>

    <div>
        <ul>
            <li>Promoting evangelism</li>
            <li>Schemes for education and economic self-sustenance</li>
            <li>Offering counseling service</li>
            <li>Providing advisory services on modern farming</li>
            <li>Home and community-based care</li>
            <li>Education on HIV/AIDS</li>
            <li>Paying school fees for OVCs</li>
            <li>Creating and promoting equity in the society and awareness of environmental protection</li>
            <li>Involving women and youth in social and economic activities</li>
        </ul>
    </div>

</div>
</section><!-- End Objectives Section -->
<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container" data-aos="fade-up">
    
        <div class="section-title">
        <h2>Future Plan</h2>
        <h3>Our <span>Future Plan</span></h3>
        <div class="text-align">
            <ul>
                <li>To restore hope to the hopeless</li>
                <li>To have self-sustaining and God-fearing community</li>
                <li>Construction of technical schools</li>
                <li>To have transport means</li>
                <li>To have branches in Uganda since we were allowed to operate in the whole country</li>
            </ul>
        </div>
        </div>
    </div>
</section>
<!-- End Services Section -->
{% endblock content %}