{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ======= Challenges Section ======= -->
<section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">
    
        <div class="section-title">
        <h2>Challenges</h2>
        <h3>We Face These <span>Challenges</span></h3>
        <p>The following are some of the challenges that are hindering us from achieving our <a href="{% url 'about' %}#faq">objectives</a></p>
        </div>
    
        <div>
            <ul>
                <li>Lack of transport means to enable us reach out to communities for both development and evangelical work.</li>
                <li>Limited space for the ever-increasing numbers for fellow ships.</li>
                <li>Lack of musical instruments for outreach ministries.</li>
                <li>Lack of structures to accommodate trainings projects and departmental offices.</li>
            </ul>
        </div>
    
    </div>
</section><!-- End Challenges Section -->
<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container" data-aos="fade-up">
    
        <div class="section-title">
        <h2>Support</h2>
        <h3><span>Donate</span> for a Cause</h3>
        <p>We need both <strong>spiritual and financial support</strong> from Gods people, government, Churches, Institutions, Companies and donors in a bid to fight a common enemy (poverty) to promote and spread our common friend and father (GOD). For any financial support, channel your contribution through our account number and official <strong>MTN MOBILE MONEY/AIRTEL MONEY</strong> and details are;</p>
        <div class="text-align">
            <ol>
                <li>Bank Details</li>
                <table class="table table-success table-striped">
                    <tr>
                        <td>Bank Name: </td>
                        <td><strong>Centenary Bank</strong></td>
                    </tr>
                    <tr>
                        <td>Account Name: </td>
                        <td><strong>Rinak Shine Prayer Center LTD</strong></td>
                    </tr>
                    <tr>
                        <td>Account Number: </td>
                        <td><strong>3100089452</strong></td>
                    </tr>
                    <tr>
                        <td>Branch: </td>
                        <td><strong>Kabwohe Branch</strong></td>
                    </tr>
                </table>
                <li>MTN Mobile Money (MM) Details</li>
                <table class="table table-success table-striped">
                    <tr>
                        <td>MTN MM Number: </td>
                        <td><strong>+256771592111</strong></td>
                    </tr>
                    <tr>
                        <td>Registered in the Name:</td>
                        <td><strong>Namanya Richards</strong></td>
                    </tr>
                </table>
                <li>Airtel Money Details</li>
                <table class="table table-success table-striped">
                    <tr>
                        <td>Airtel Number: </td>
                        <td><strong>+256705406064</strong></td>
                    </tr>
                    <tr>
                        <td>Registered in the Name:</td>
                        <td><strong>Namanya Richards</strong></td>
                    </tr>
                </table>
            </ol>
        </div>
        </div>
    </div>
</section>
<!-- End Services Section -->
{% endblock content %}