{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container" data-aos="zoom-out" data-aos-delay="100">
    <!-- <h1>Welcome to <span>RINAK SHINE</span></h1> -->
    <h1><span>RINAK SHINE</span></h1>
    <h2>HELPING GOD’S PEOPLE HOLISTICALLY</h2>
    <div class="d-flex">
      <a href="{% url 'home' %}#about" class="btn-get-started scrollto">Read More</a>
      <a href="https://youtu.be/1rPFL4Yatts" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
    </div>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= Location Mission Section ======= -->
  <section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-geo-alt"></i></div>
            <h4 class="title"><a href="">Location</a></h4>
            <p class="description">Itendero Town Rwitaniro Cell, Sheema UGANDA</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-eye"></i></div>
            <h4 class="title"><a href="">Vision</a></h4>
            <p class="description">The vision for RINAK SHINES is to have self sustained community that is holistically developed that is spiritually and physically</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-bullseye"></i></div>
            <h4 class="title"><a href="">Mission</a></h4>
            <p class="description">Seeks to restore hope and improve standards of living of Gods people through evangelism, counseling and community empowerment</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bi bi-box"></i></div>
            <h4 class="title"><a href="">Core Values</a></h4>
            <p class="description">Integrity, Transparency, Accountability, Respect</p>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- End Location Mission Section -->
<!-- ======= About Section ======= -->
<section id="about" class="about section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>About</h2>
      <h3>What is <span>RINAK SHINE PRAYER CENTER</span></h3>
      <p>RINAK SHINE PRAYER CENTER is a registered, non-Government, non-denominational, non-political and non-racial organization HELPING GOD’S PEOPLE HOLISTICALLY.</p>
    </div>

    <div class="row">
      <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
        <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
        <h3>Background to the Establishment</h3>
        <p class="fst-italic">
          Before and during Christ ministry, these were a lot of segregations especially between the Jews and none Jews. Even with the coming of Jesus his close confidants thought that salvation was only for Jews however Jesus had come for all.
        </p>
        <p class="fst-italic">
          Even today religious politics have been noticed at a significant level leading to divisions among people of God.
        </p>
        <p class="fst-italic">
          It should be noted that where people are divided even development can never take place.
        </p>
        <p class="fst-italic">
          It is against this background that Rinak Shine Prayer Centre intervenes as Jesus Christ commanded in <strong>MARK 16; 15</strong> to preach the Gospel to all mankind.
        </p>
        <p class="fst-italic">
          Most people have had tendency of believing in miracles without their own efforts to overcome poverty and in here, Rinak Shine comes to change that attitude and encourage people to work hard (<strong>JAMES 2:14</strong>) we do this through sensitization programs and establishment of income generating projects and empowerments with technical /hand on skills especially to the most vulnerable such as widows, youth and orphans.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- ======= Achievements Section ======= -->
<section id="faq" class="faq section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Achievements</h2>
      <h3>What We Have <span>Achieved</span></h3>
      <p>In spite of a number of hindrances we experienced especially during COVID 19 pandemic and the resultant economic challenges, God has been on our side and we have noted the following achievements, so far ever since Rinak Shine Prayer Center became operational i.e.</p>
    </div>

    <div class="row justify-content-center">
      <div class="col-xl-10">
        <ul class="faq-list">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Evangelism<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                We have scheduled <strong>Saturdays</strong> for fellowships in which the word of God is shared, those with demonic affrications prayed for and healed in the name of Jesus Christ, we have made outreaches and people’s souls have been touched.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Land Acquisition <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                We have been able to acquire land with a 250 seater Hall
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Water Extension <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                We have extended water supply to the premises and installed electricity
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Procured Seats & Public Address System <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
                We have procured seats and a public address system
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Established Agricultural Demonstration Farms <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
                We have established twelve agricultural demonstration farms majoring in Diary, Rabbitry, Piggery, Poultry, Coffee, and Banana
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Agricultural Inputs <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq6" class="collapse" data-bs-parent=".faq-list">
              <p>
                We have been able to provide farmers with agricultural inputs comprising of Piglets and Rabbits
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq7" class="collapsed question">Established Value Addition Projects <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq7" class="collapse" data-bs-parent=".faq-list">
              <p>
                We have also added value to the following projects: African craft shoes making, books making, yoghurt making, making bathing sponges, and snacks making (donuts, daddies, silverfish)
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq8" class="collapsed question">Maggot Breeding and Production <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq8" class="collapse" data-bs-parent=".faq-list">
              <p>
                We have engaged in breeding of Maggots and their production
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq9" class="collapsed question">Liquid Fertilizer Production <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq9" class="collapse" data-bs-parent=".faq-list">
              <p>
                We have been able to produce liquid fertilizer
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq10" class="collapsed question">Food and Nutrition Project <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq10" class="collapse" data-bs-parent=".faq-list">
              <p>
                We have been able to establish a food and nutrition project which majorly focuses on food fortification processing and packing such as soya bean, silverfish, chia seeds, yellow corn, sorghum, etc.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq11" class="collapsed question">Scholastic Materials Distribution to Children <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq11" class="collapse" data-bs-parent=".faq-list">
              <p>
                We have managed to give scholastic materials to about 73 needy children so far
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq12" class="collapsed question">Provided Access to Education <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq12" class="collapse" data-bs-parent=".faq-list">
              <p>
                We also have supported 13 students with school fees for one year as follows: 2 in Secondary schools, 1 in Technical, and 10 in Primary
              </p>
            </div>
          </li>

        </ul>
      </div>
    </div>

  </div>
</section><!-- End Achievements Section -->
</main>
{% endblock content %}