{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Projects</h2>
            <h3>Check Our <span>Projects</span></h3>
            <p>These are some of the projects that Rinak Shine ventures in:</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{% static 'assets/img/projects/project-01.jpg' %}"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Yoghurt Making</h5>
                            <p class="card-text">Adding value to the products</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                    <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">Lorem Ipsum</a></h4>
            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p> -->
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{% static 'assets/img/projects/project-02.jpg' %}"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">African Craft Shoes Making</h5>
                            <p class="card-text">Adding value to the products</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                    <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">Lorem Ipsum</a></h4>
            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p> -->
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{% static 'assets/img/projects/project-03.jpg' %}"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Maggot Breeding</h5>
                            <p class="card-text">Breeding of Maggots</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                    <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">Lorem Ipsum</a></h4>
            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p> -->
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{% static 'assets/img/projects/project-04.jpg' %}"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Evangelism</h5>
                            <p class="card-text">Fellowships are for Saturdays</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                    <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">Lorem Ipsum</a></h4>
            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p> -->
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{% static 'assets/img/projects/project-05.jpg' %}"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Bathing Soap</h5>
                            <p class="card-text">Bathing Soap Making</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                    <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">Lorem Ipsum</a></h4>
            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p> -->
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{% static 'assets/img/projects/project-06.jpg' %}"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Washing Soap</h5>
                            <p class="card-text">Washing Soap Making</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                    <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">Lorem Ipsum</a></h4>
            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p> -->
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{% static 'assets/img/projects/project-07.jpg' %}"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Weaving Class</h5>
                            <p class="card-text">Weaving Class at Rinak Shine Vocational School</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                    <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">Lorem Ipsum</a></h4>
            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p> -->
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{% static 'assets/img/projects/project-08.jpg' %}"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Hair Dressing Class</h5>
                            <p class="card-text">The Hair Dressing Class at Rinak Shine Vocational School</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                    <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">Lorem Ipsum</a></h4>
            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p> -->
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{% static 'assets/img/projects/project-09.jpg' %}"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Rinak Shine School</h5>
                            <p class="card-text">Rinak Shine Vocational School Premises</p>
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                    <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">Lorem Ipsum</a></h4>
            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p> -->
                </div>
            </div>

        </div>

    </div>
</section><!-- End Services Section -->
{% endblock content %}